# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.h5
*.hdf5
*.tflite

# Logs
*.log

# Dataset files
HAM10000_images/
*.csv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Node modules
node_modules/

# Build files
build/
dist/ 